// Navigation Styles here

nav{
    width: 30%;
    .flex(row, space-between, center);

    a{
        text-decoration: none;
        color: @font-color;
    }
    a:hover{
        color: @silver;
    }
  }